body {
    background-color: #f2f2f2;
}

p {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:1em;
}

.navbar-expand-lg {
    border-top: solid 0.05em #d5d5d5;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size:0.9em;
    letter-spacing: 0.07em;
    background-color: #fff;
}

.mainButton {
    background-color: #1aa7dc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size:0.9em;
    color: #fff;
    padding: 15px 45px;
    cursor: pointer;
}

.orangeButton {
    background-color: #ff8a14;
    border: #ff8a14;
}

.jumbotron {
    background-image: url("../img/hero_bg.jpg");
    background-size: cover;
    height: 479px;
}

.display-4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size:2.3em;
    letter-spacing: 0.05em;
}

.sectionTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #4a4a4a;
    font-size:2.3em;
    letter-spacing: 0.05em;
}

.sectionSubtitle {
    font-size:1.2em;
    color:#1aa7dc;
    letter-spacing: 0.05em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-top:.7em;
}

#caseStudySection {
    padding-top:8em;
}

.myBox {
    background-color: #fff;
    
    z-index: 2;
    position: relative;
    
    margin-top:-500px;
    
}

.myBoxContent {
    padding:50px 20px;
}

h6 {
    font-size:.8em;
    color:#4a4a4a;
    letter-spacing: 0.05em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-top:.7em;
}

h5 {
    color: #4a4a4a;
}